@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
  font-family: 'Anton', sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.datadisplaycontainer{
  display:flex;
  flex-direction: row;
  align-items: flex-end;
}
.datadisplayitem{
  height:50px;
  width: 200px;
  background-color: #61dafb;
  margin: 12px;
}
.headingsanddataitems{
  display:flex;
  flex-direction: column;
}
.headings{
  margin:0;
}
.updaterecordcontainer{
  width: 50%;
  background-color:white;
  display:flex;
  flex-direction: column;
  
  padding:4rem;
}
.inputlabel{
  color:black;
  margin:6px;
}
.numberfield{
  margin:6px;
  padding:8px;
  height: 25px;
  border-radius: 12px;
  border-color: #61dafb;
}
.inputlabelcontainer{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.updatestatsbutton{
  background-color: #61dafb;
  color: white;
  padding: 6px;
  width: fit-content;
  border: none;
  cursor: pointer;
}